<div *ngIf="user.user_group === _c.OPERATOR" class="btn-create-operator">
  <button class="btn btn-outline-info" (click)="ajoutCommand()">Créer une commande {{ command_type === _c.command_type.SPECIAL ? 'spécial' : '' }}</button>
</div>

<div class="card" *ngIf="user.user_group === _c.ADMIN">
  <div class="card-header">
    <h4 class="card-title">Liste des commandes {{ command_type === _c.command_type.SPECIAL ? 'spécial' : '' }}</h4>
  </div>
  <div class="card-body ml-3 mr-3">
    <div class="row">
      <div class="col-md-5">
        <mat-form-field>
          <mat-label>Rechercher</mat-label>
          <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
      </div>
      <div class="col-md-7">
        <!-- Bouton actions -->
        <button class="btn btn-outline-info pull-right" (click)="ajoutCommand()">Créer</button>
      </div>
    </div>
    <div class="table-responsive">
      <table mat-table class="w-full" [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> N° commande</th>
          <td mat-cell *matCellDef="let row;">{{ row.command_id.toString().padStart(5, '0') }}</td>
        </ng-container>

        <ng-container matColumnDef="nom_prenom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Client</th>
          <td mat-cell *matCellDef="let row;"> {{row.client.client_lastname}} {{row.client.client_firstname}}</td>
        </ng-container>

        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact</th>
          <td mat-cell *matCellDef="let row;"> {{row.client.client_contact}}</td>
        </ng-container>

        <ng-container matColumnDef="date_livraison">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de livraison</th>
          <td mat-cell *matCellDef="let row;"> {{row.command_date_livraison | date: 'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="nbr_gateau">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de gâteau</th>
          <td mat-cell *matCellDef="let row;"> {{row.gateaux.length}}</td>
        </ng-container>

        <ng-container matColumnDef="evenement">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Évènement</th>
          <td mat-cell *matCellDef="let row;"> {{row.command_evenement}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
        <td mat-cell *matCellDef="let row; let i = index">
          <ul class="table-actions">
            <li matTooltip="Voir ou Modifier" (click)="modifierCommand(row)">
              <i class="fa fa-edit"></i>
            </li>
            <li matTooltip="Retour client" (click)="retourClient(row)">
              <i class="fa fa-comments-o"></i>
            </li>
            <li matTooltip="Imprimer le bon de commande" (click)="purchaseOrder(row.command_id)">
              <i class="fa fa-share-square-o"></i>
            </li>
            <li matTooltip="Supprimer" (click)="supprimerCommand(row)">
              <i class="fa fa-trash-o"></i>
            </li>
          </ul>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">Aucun élément trouver</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
