<h4 mat-dialog-title>Identifiant</h4>
<ng-container mat-dialog-content>
  <form [formGroup]="fg">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Login</label>
          <input type="text" class="form-control" placeholder="Login" formControlName="user_login">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label>Mot de passe</label>
          <input type="text" class="form-control" placeholder="Mot de passe" formControlName="user_password">
        </div>
      </div>
    </div>
  </form>
</ng-container>
<div mat-dialog-actions class="pull-right">
  <button class="btn btn-outline-danger" mat-dialog-close>Annuler</button>
  <button class="btn btn-outline-success ml-2">Enregistrer</button>
</div>
