.form-control{
  height: unset;
}
.input-danger {
  border: 1px solid var(--danger);
}
.input-danger::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--danger);
  opacity: 1; /* Firefox */
}

.input-danger:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--danger);
}

.input-danger::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--danger);
}
