<form [formGroup]="fg" (submit)="fg.valid && onSubmit()">
  <h4 mat-dialog-title>{{ dialogData ? 'Modification' : 'Création'}} utilisateur</h4>
  <ng-container mat-dialog-content>
    <input type="hidden" formControlName="user_id">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nom</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nom"
            formControlName="user_lastname"
            [ngClass]="{'input-danger' : myInput('user_lastname').touched && myInput('user_lastname').invalid}"
          >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Prénom</label>
          <input
            type="text"
            class="form-control"
            placeholder="Prénom"
            formControlName="user_firstname"
            [ngClass]="{'input-danger' : myInput('user_firstname').touched && myInput('user_firstname').invalid}"
          >
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="groupe">Groupe</label>
          <select
            id="groupe"
            class="form-control"
            formControlName="user_group"
            [ngClass]="{'input-danger' : myInput('user_group').touched && myInput('user_group').invalid}"
          >
            <option *ngFor="let group of groups" [value]="group.value">{{group.description}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            formControlName="user_email"
            [ngClass]="{'input-danger' : myInput('user_email').touched && myInput('user_email').invalid}"
          >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Login</label>
          <input
            type="text"
            class="form-control"
            placeholder="Login"
            formControlName="user_login"
            [ngClass]="{'input-danger' : myInput('user_login').touched && myInput('user_login').invalid}"
          >
        </div>
      </div>
      <div class="col-md-12" *ngIf="!isModif">
        <div class="form-group">
          <label>Mot de passe</label>
          <input
            type="password"
            class="form-control"
            placeholder="Mot de passe"
            formControlName="user_password"
            [ngClass]="{'input-danger' : myInput('user_password').touched && myInput('user_password').invalid}"
          >
        </div>
      </div>
    </div>
  </ng-container>
  <div mat-dialog-actions class="pull-right">
    <button class="btn btn-outline-danger" mat-dialog-close>Annuler</button>
    <button type="submit" class="btn btn-outline-success ml-2" [disabled]="fg.invalid">Enregistrer</button>
  </div>
</form>
