<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-book-bookmark text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Commandes</p>
              <p class="card-title"><p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <span class="fs-20">{{dayData.commandDay}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="fa fa-birthday-cake text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Gateaux</p>
              <p class="card-title"><p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <span class="fs-20">{{dayData.gateauDay}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-user-run text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Clients</p>
              <p class="card-title"><p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <span class="fs-20">{{dayData.clientDay}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Montants</p>
              <p class="card-title"><p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <span class="fs-20">{{dayData.montantDay | number: '1.2-2':'fr'}} Ar</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <!-- commandes -->
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">COMMANDES</h5>
        <p class="card-category"></p>
        <form class="row" [formGroup]="fgFilterCommand" (submit)="fgFilterCommand.valid && onSubmitFilterCommand()">
          <div class="col-md-5">
            <div class="row">
              <label class="col-sm-3" for="command_date_du">Date début :</label>
              <input type="date" formControlName="command_date_du" id="command_date_du" class="form-control form-control-sm col-sm-9">
            </div>
          </div>
          <div class="col-md-5 mb-2">
            <div class="row">
              <label class="col-sm-3" for="command_date_au">Date fin :</label>
              <input type="date" formControlName="command_date_au" id="command_date_au" class="form-control form-control-sm col-sm-9">
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn-warning btn-sm btn-block" type="submit" [disabled]="fgFilterCommand?.invalid">Valider</button>
          </div>
        </form>
        <hr>
      </div>
      <div class="card-body">
        <canvas id="commandChart" width="400" height="80"></canvas>
      </div>
    </div>
  </div>

  <!-- gateaux -->
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">GATEAUX</h5>
        <p class="card-category"></p>
        <form class="row" [formGroup]="fgFilterGateau" (submit)="fgFilterGateau.valid && onSubmitFilterGateau()">
          <div class="col-md-5">
            <div class="row">
              <label class="col-sm-3" for="gateau_date_du">Date début :</label>
              <input type="date" formControlName="gateau_date_du" id="gateau_date_du" class="form-control form-control-sm col-sm-9">
            </div>
          </div>
          <div class="col-md-5 mb-2">
            <div class="row">
              <label class="col-sm-3" for="gateau_date_au">Date fin :</label>
              <input type="date" formControlName="gateau_date_au" id="gateau_date_au" class="form-control form-control-sm col-sm-9">
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn-success btn-sm btn-block" type="submit" [disabled]="fgFilterGateau?.invalid">Valider</button>
          </div>
        </form>
        <hr>
      </div>
      <div class="card-body">
        <canvas id="gateauChart" width="400" height="80"></canvas>
      </div>
    </div>
  </div>

  <!-- clients -->
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">CLIENTS</h5>
        <p class="card-category"></p>
        <form class="row" [formGroup]="fgFilterClient" (submit)="fgFilterClient.valid && onSubmitFilterClient()">
          <div class="col-md-5">
            <div class="row">
              <label class="col-sm-3" for="client_date_du">Date début :</label>
              <input type="date" formControlName="client_date_du" id="client_date_du" class="form-control form-control-sm col-sm-9">
            </div>
          </div>
          <div class="col-md-5 mb-2">
            <div class="row">
              <label class="col-sm-3" for="client_date_au">Date fin :</label>
              <input type="date" formControlName="client_date_au" id="client_date_au" class="form-control form-control-sm col-sm-9">
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn-info btn-sm btn-block" type="submit" [disabled]="fgFilterClient?.invalid">Valider</button>
          </div>
        </form>
        <hr>
      </div>
      <div class="card-body">
        <canvas id="clientChart" width="400" height="80"></canvas>
      </div>
    </div>
  </div>

  <!-- paiement -->
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">MONTANTS</h5>
        <p class="card-category"></p>
        <form class="row" [formGroup]="fgFilterPaiement" (submit)="fgFilterPaiement.valid && onSubmitFilterPaiement()">
          <div class="col-md-5">
            <div class="row">
              <label class="col-sm-3" for="paiement_date_du">Date début :</label>
              <input type="date" formControlName="paiement_date_du" id="paiement_date_du" class="form-control form-control-sm col-sm-9">
            </div>
          </div>
          <div class="col-md-5 mb-2">
            <div class="row">
              <label class="col-sm-3" for="paiement_date_au">Date fin :</label>
              <input type="date" formControlName="paiement_date_au" id="paiement_date_au" class="form-control form-control-sm col-sm-9">
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn-danger btn-sm btn-block" type="submit" [disabled]="fgFilterPaiement?.invalid">Valider</button>
          </div>
        </form>
        <hr>
      </div>
      <div class="card-body">
        <canvas id="paiementChart" width="400" height="80"></canvas>
      </div>
    </div>
  </div>

</div>
