<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Capacity</p>
              <p class="card-title">150GB
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Revenue</p>
              <p class="card-title">$ 1,345
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Last day
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Errors</p>
              <p class="card-title">23
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> In the last hour
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Followers</p>
              <p class="card-title">+45K
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <!-- commandes -->
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">COMMANDES</h5>
        <p class="card-category">- Filtres -</p>
        <form class="row" [formGroup]="fgFilterCommand" (submit)="fgFilterCommand.valid && onSubmitFilterCommand()">
          <div class="col-md-5">
            <div class="row">
              <label class="col-sm-3" for="command_date_du">Date début :</label>
              <input type="date" formControlName="command_date_du" id="command_date_du" class="form-control form-control-sm col-sm-9">
            </div>
          </div>
          <div class="col-md-5 mb-2">
            <div class="row">
              <label class="col-sm-3" for="command_date_au">Date fin :</label>
              <input type="date" formControlName="command_date_au" id="command_date_au" class="form-control form-control-sm col-sm-9">
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn-warning btn-sm btn-block" type="submit" [disabled]="fgFilterCommand?.invalid">Valider</button>
          </div>
        </form>
        <hr>
      </div>
      <div class="card-body">
        <canvas id="commandChart" width="400" height="80"></canvas>
      </div>
    </div>
  </div>

  <!-- gateaux -->
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">GATEAUX</h5>
        <p class="card-category">- Filtres -</p>
        <form class="row" [formGroup]="fgFilterGateau" (submit)="fgFilterGateau.valid && onSubmitFilterGateau()">
          <div class="col-md-5">
            <div class="row">
              <label class="col-sm-3" for="gateau_date_du">Date début :</label>
              <input type="date" formControlName="gateau_date_du" id="gateau_date_du" class="form-control form-control-sm col-sm-9">
            </div>
          </div>
          <div class="col-md-5 mb-2">
            <div class="row">
              <label class="col-sm-3" for="gateau_date_au">Date fin :</label>
              <input type="date" formControlName="gateau_date_au" id="gateau_date_au" class="form-control form-control-sm col-sm-9">
            </div>
          </div>
          <div class="col-md-2">
            <button class="btn-success btn-sm btn-block" type="submit" [disabled]="fgFilterGateau?.invalid">Valider</button>
          </div>
        </form>
        <hr>
      </div>
      <div class="card-body">
        <canvas id="gateauChart" width="400" height="80"></canvas>
      </div>
    </div>
  </div>
</div>
